<?xml version="1.0" encoding="utf-8"?>
<?include GeneratedComponents.wxs?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="__PRODUCT_NAME__" Language="1033" Version="__PRODUCT_VERSION__" Manufacturer="LocalBackupMaster" UpgradeCode="__UPGRADE_CODE__" InstallerVersion="500" Compressed="yes" Scope="perMachine">

    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="__PRODUCT_NAME__" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder" />
    <StandardDirectory Id="DesktopFolder" />

    <!-- Feature tree -->
    <Feature Id="ProductFeature" Title="__PRODUCT_NAME__" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

  </Package>
</Wix>
